body {
  position: relative;
  background: transparent;
}

#page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 40px;

  iframe {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    // Fix the bizare resizing js bug. No idea what the source of it is.
    height: 100% !important;
    padding-top: 40px;
    box-sizing: border-box;
  }
}

#content-locale-picker {
  position: fixed;
  top: 44px;
  right: 70px;
}
