body {
  position: relative;
  background: transparent;
}

#page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 40px;

  iframe {
    position: fixed;
    display: block;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

#content-locale-picker {
  position: fixed;
  top: 44px;
  right: 70px;
}
